<h1>Home</h1>
<% if user_signed_in? %>
  Hi <%= current_user.name %>!
  <br />
  <%= link_to 'logout', '/auth/logout', method: :delete %>
<% else %>
  Hi Guest!
  <br />
  <%= link_to 'login', '/auth/login' %>
  <br />
  <%= link_to 'reg', '/auth/reg' %>
<% end -%>
